{% extends 'base.html.twig' %}

{% block title 'Reserver vos billets' %}

{% block body %}
<div class="container">

    <div id="smartwizard">
        <ul>
            <li>
                <a href="#step-1">
                    <div class="circle">1</div>
                    <br/>
                    <div class="circle-label">Panier</div>
                </a></li>
            <li>
                <a href="#step-2">
                    <div class="circle">2</div>
                    <br/>
                    <div class="circle-label">Coordonnées</div>
                </a></li>
            <li>
                <a href="#step-3">
                    <div class="circle">3</div>
                    <br/>
                    <div class="circle-label">Paiement</div>
                </a></li>
            <li>
                <a href="#step-4">
                    <div class="circle">4</div>
                    <br/>
                    <div class="circle-label">Confirmation</div>
                </a></li>
        </ul>


        <div>
            {{ include('pages/step1.html.twig') }}
            {{ include('pages/step2.html.twig') }}
            {{ include('pages/step3.html.twig') }}
            {{ include('pages/step4.html.twig') }}
        </div>
    </div>
</div>
    {% endblock %}

{% block javascripts %}

    <script src="https://js.stripe.com/v3/"></script>

    <script>

        $(function () {
            $("#ticketDate-feedback").hide();
            $(".btn-toolbar").hide();
        })


        var myBooking = new booking();

        $("#smartwizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
            if (stepNumber == 0 && stepDirection == 'forward'){
                if(checkDate($('#book_ticketDate').val()))
                {
                    myBooking.ticketDate = $('#book_ticketDate').val();
                    myBooking.type = $('#book_type').val();
                    console.log(myBooking);
                }
                else{
                    e.preventDefault();
                }

            }
            else if(stepNumber == 1 && stepDirection == 'forward'){
                myBooking.tickets = myTickets;
                var ticketsNumber = Object.entries(myTickets).length;
                myBooking.price = 0;
                for (var i = 0; i < ticketsNumber; i++ ){
                    myBooking.price = myBooking.price + Object.entries(myTickets)[i][1].price;
                }
                console.log(myBooking);
                $.ajax({
                    type: 'POST',
                    url: '{{ path('booking') }}',
                    data: {
                        price: myBooking.price
                    },
                    success: function () {
                        console.log("Success")
                    }
                })
            }
            else if(stepNumber == 2 && stepDirection == 'forward'){


            }
        });

        $("#booking-validate").on('click', function () {
            $('form[name=book]').submit();
            $('#payment-form').submit();
        })
        

        function booking() {
            this.price = 0;
        }

        function checkDate(ticketDate) {
            var isValid = false;

            if (ticketDate.length < 10){
                isValid = false;
                $("#ticketDate-feedback").show();
                $('#book_ticketDate').addClass("invalid")

            }
            else{
                isValid = true
                $("#ticketDate-feedback").hide();
                $('#book_ticketDate').removeClass("invalid")
            }

            return isValid
        }

    </script>
{% endblock %}