{% extends 'base.html.twig' %}

{% block title 'Reserver vos billets' %}

{% block body %}
<div class="container">

    <div id="smartwizard">
        <ul>
            <li>
                <a href="#step-1">
                    <div class="circle">1</div>
                    <br/>
                    <div class="circle-label">Panier</div>
                </a></li>
            <li>
                <a href="#step-2">
                    <div class="circle">2</div>
                    <br/>
                    <div class="circle-label">Coordonnées</div>
                </a></li>
            <li>
                <a href="#step-3">
                    <div class="circle">3</div>
                    <br/>
                    <div class="circle-label">Paiement</div>
                </a></li>
            <li>
        </ul>


        <div>
            {{ form_start(form, {'attr': {'id': 'booking'}}) }}
            {{ include('formstep/step1.html.twig') }}
            {{ include('formstep/step2.html.twig') }}
            {{ include('formstep/step3.html.twig') }}
            <div class="hidden">{{ form_rest(form) }}</div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
    {% endblock %}

{% block javascripts %}

    <script>

        $( document ).ready(function () {
            $("#ticketDate-feedback").hide();
            $("#myTickets-feedback").hide();
            $("#type-feedback").hide();
            $(".btn-toolbar").hide();
            $("#step-2").hide();
            $("#step-3").hide();
        })


        var myBooking = new booking();

        $("#smartwizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
            if (stepNumber == 0 && stepDirection == 'forward'){
                if(checkDate($('#book_ticketDate').val(),$('#book_type').val()))
                {
                    myBooking.ticketDate = $('#book_ticketDate').val();
                    myBooking.type = $('#book_type').val();
                }
                else{
                    e.preventDefault();
                }

            }
            else if(stepNumber == 1 && stepDirection == 'forward'){
                if (typeof myTickets == 'undefined' || myTickets.length <= 0) {
                    console.log('test')
                    e.preventDefault();
                    $("#myTickets-feedback").show();
                }
                else{
                    $("#myTickets-feedback").hide();
                    myBooking.tickets = myTickets;
                    var ticketsNumber = Object.entries(myTickets).length;
                    myBooking.price = 0;

                    for (var i = 0; i < ticketsNumber; i++) {
                        ticketName = Object.keys(Object.entries(myTickets)[i][1])[0]
                        myBooking.price = myBooking.price + Object.entries(myTickets)[i][1][ticketName].price;
                    }
                    $('#total-price').text(myBooking.price / 100)
                }
            }
            else if(stepNumber == 2 && stepDirection == 'forward'){
            }
        });
        

        function booking() {
            this.price = 0;
        }

        function checkDate(ticketDate, ticketType) {
            var isValid = false;
            var  re = /(0[1-9]|[12]\d|3[01])-(0[1-9]|1[0-2])-([12]\d{3})/;
            $("#type-feedback").hide();
            $('#book_type').removeClass("invalid")
            $("#ticketDate-feedback").hide();
            $('#book_ticketDate').removeClass("invalid")

            if (re.test(ticketDate)){
                var dateStringConvert = ticketDate[3] + ticketDate[4] + ticketDate[2] + ticketDate[0] +
                    ticketDate[1] + ticketDate[5] + ticketDate[6] + ticketDate[7] + ticketDate[8] + ticketDate[9];
                var dateString = new Date(Date.parse(dateStringConvert));
                var today = new Date();
                    if(ticketType === "0" && (dateString.getFullYear() === today.getFullYear() && dateString.getMonth() === today.getMonth() && dateString.getDate() === today.getDate() && today.getHours() >= 14) )
                    {
                        isValid = false
                        $("#type-feedback").show();
                        $('#book_type').addClass("invalid")
                    }else
                    {
                        isValid = true
                        $("#ticketDate-feedback").hide();
                        $('#book_ticketDate').removeClass("invalid")
                        $("#type-feedback").hide();
                        $('#book_type').removeClass("invalid")
                    }
                }
            else{
                isValid = false;
                $("#ticketDate-feedback").show();
                $('#book_ticketDate').addClass("invalid")
            }

            return isValid
        }

    </script>
{% endblock %}